<!doctype html>
<html lang="en">
  <head>


    <title>Jumbotron Template for Bootstrap</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
   	<link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>


   <% include ./partials/navbar %>
	<div class="container">
	<%- body -%>
    </div> <!-- /container -->

    </main>

 <% include ./partials/footer %>

    </body>
</html>
