

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
    <style>
    #akki{
      padding-top:10%;
      text-align:center;
    }
    textarea{
      width:30%;
      height: 10%;
    }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="color:#FF6347">The <strong>Success</strong> Today</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"><i class="fa fa-home"></i> Home<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/about">About Us</a></li>
            <li class="active"><a href="/contact">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/medibouts"><i class="fa fa-user-plus"></i> Medibout</a></li>
            <li><a href="/dzees"><i class="fa fa-user"></i> Dzee</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="ui main text">
    	<div class="ui huge header"><h3 style="text-align: center"><strong>New Post</strong></h3></div>
      <hr>
      <div id="akki">
    	<form class="ui form" action="/medibouts" method="POST">
    		<div class="field">

    			<input type="text" name="title" placeholder="title">
    		</div>
    		<div class="field">

    			<input type="text" name="image" placeholder="image">

    		</div>
        <div class="field">

    			<input type="text" name="video" placeholder="video">

    		</div>
    		        <textarea name="body" placeholder="Detail"  rows="5"></textarea>
                <button type="submit" class="btn btn-info">submit query</button>
              </div>
            </div>
      </body>
</html>
