<div class="container">
	<div class="row">
	<h1 style="text-align: center">SignUp</h1>
	<div style="width:30%;margin:0 auto;">
<form action="/register" method="POST">
	<input class="form-control" type="text" name="username" placeholder="username">
	<input class="form-control" type="password" name="password" placeholder="password">
	<button class="btn btn-primary btn-large">Submit</button>
</form>
	</div>
        </div>
</div>
